[Unit]
Description=Loss checker
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/env python3 -m loss_checker --server
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
